/* BMI */

.bmi-cal .row {
  border: 7px solid #e0edcd;
  padding: 30px;
}

.bmi_gender {
  display: flex;
  margin-bottom: 20px;
}

.m-gender img,
.f-gender img {
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  padding: 5px;
  margin-left: 8px;
  cursor: pointer;
}

.bmi-cal input[type="text"] {
  width: 100%;
  min-height: 42px;
  border: solid 1px #ccc;
  padding: 5px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.bmi-weight td:first-child {
  width: 80px;
}

.bmi-cal .span {
  position: absolute;
  padding: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  line-height: 20px;
  min-width: 55px;
  right: 0;
  background:#fff;
  text-align: center;
}

.bmi-weight .wt {
  position: relative;
}

.bmi-cal tr td {
  vertical-align: text-bottom;
}

.bmi-cal_btn .btn {
  background-color: #0a4235;
  color: #fff;
  border-radius: 20px;
  padding: 6px 25px;
  box-shadow: 0px 5px 0px 0px #64a405;
}

.bmi-cal_btn .btn:hover {
  border: 1px solid #0a4235;
  background-color: white;
  color: #0a4235;
}

.bmi-cal_btn .btn.btn-sec {
  border: 1px solid #0a4235;
  background-color: white;
  color: #0a4235;
}

.bmi-cal_btn .btn.btn-sec:hover {
  background-color: #0a4235;
  color: #fff;
}

.result-bmi {
  font-size: 20px;
  font-weight: 600;
	color: #0a4235;
}

.result-val {
  font-size: 20px;
  background-color: #0a4235;
  color: #fff;
  padding: 3px 22px;
  border-radius: 4px;
  margin-left: 30px;
}

.bmi-result-define {
  background-color: #e0edcd;
  padding: 25px;
  margin-top: 30px;
  border-radius: 4px;
}

.bmi-cal input:focus-visible {
    outline:none;
	border: solid 1px #ccc;
}
.wt-m {
/*   width: 120px; */
  background-color: red;
  margin-bottom: 10px;
  text-align: center;
  padding: 4px 15px;
  border-radius: 4px;
  color: #fff;
}

.Underweight {
  background-color: #ff8080;
}

.Healthy {
  background-color: #008137;
}

.Overweight {
  background-color: #c3af00;
}

.Obesity {
  background-color: #ff0000;
}
.ser-Obesity{
background-color:#b10c0c;
}

.bmi-feet,
.bmi-inches {
  position: relative;
}

.bmi-feet input[type="text"] {
}
.bmi-cal td span {
    font-weight: 600;
}

.bmi-feet span, .wt span, .bmi-inches span{
font-weight: normal !important;
}
.bmi-cal input[type=radio] {
   accent-color: #0a4235;
}
.bmi-result {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* dropdown */
.change-icon .btn-drop {
  border: 1px solid #ccc;
  padding: 8px 15px;
}

.change-icon .btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.change-icon .dropdown-menu {
  min-width: auto;
  padding: 0px;
}

.change-icon .dropdown-menu li a {
  padding: 6px 16px;
}

#myDIV {
  display: none;
}

#myDIV2 {
  display: block;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
}

/* dropdown */

@media only screen and (max-width: 560px) {
  .bmi-cal .row {
    border: transparent;
    padding: 0px;
  }

  .bmi-cal .span {
    min-width: 35px;
  }
.bmi-result span {
    margin-top: 30px;
}
	.bmi-result-define {
    margin-bottom: 30px;
}
}

@media screen and (max-width: 992px) and (min-width: 556px) {
  .bmi-cal .span {
    min-width: 34px;
  }
	.bmi-cal {
    margin-bottom: 30px;
}
}